.container {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
}

.container #heading {
    display: flex;               
    justify-content: center;   
    align-items: center; 
    grid-row-start: 1;
    grid-column-end: span 2;
    background-color: blue;
    color: white;
    font-size: 15px;
    padding: 10px 0;
}

.container #about {
    grid-row-start: 2;
    background-color: white;
    color: blue;
    border: 5px black dotted;
}

.container #image {
    grid-row-start: 2;
    border: 5px black dotted;
}

.container #form {
    grid-row-start: 3;
    grid-column-end: span 2;
    border: 5px black dotted;

}

.container #ranking {
    grid-row-start: 4;
    grid-column-end: span 2;
}